html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title TicTacToe Game
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
  link(href='index.css', rel='stylesheet', type='text/css')
  link(href="path/to/font-awesome/css/font-awesome.min.css", rel='stylesheet')
body
  .container.text-center
    #playGame
      h1 Ready to play?
      button#begin.btn.btn-success Begin
    #player1
      h1 Player 1: X's or O's?
      button#1x.btn.btn-success X's
      button#1o.btn.btn-danger O's
    #X
      button.btn.btn-success X
    #O
      button.btn.btn-success O
    #grid  
      h2 Play
      .row.align-items-start    
        #1.col.btn.btn-primary 1
        #2.col.btn.btn-primary 2
        #3.col.btn.btn-primary 3
      .row.align-items-center    
        #4.col.btn.btn-primary 4
        #5.col.btn.btn-primary 5
        #6.col.btn.btn-primary 6
      .row.align-items-end   
        #7.col.btn.btn-primary 7
        #8.col.btn.btn-primary 8
        #9.col.btn.btn-primary 9

script(src='https://code.jquery.com/jquery-2.2.4.min.js')
script(src='index.js')